#Projetos{
    align-items: center;
    background-color: var(--clear);
    height: 700px;
    padding: 50px;
    text-align: center;
}

#Projetos h1{
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 2.25rem;
    margin-top: 25px;
    padding-bottom: 100px;
}

.owl__card{
    align-items:center ;
    background: var(--dark);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 360px;
    margin-left: 35px;
    width: 353px;
}

.owl__card-title {
    color: var(--sky);  
    font-family: 'Press Start 2P', 'cursive';
    font-size: 15px;
    padding-top: 10px;
    height:  50px;
}

.owl__card-img {
    border: 1px solid rgb(255, 255, 255);
    border-style: dashed;
    height: 300px;
    width: 90%;
}

.img__true{
    height: 100%;
}

.owl__card-button {
    background-color: var(--dark);
    padding-bottom: 10px;
    width: 90%;
}

.owl__card-button a i{
    border-radius: 10px;
}

.button{
    width: 80px;
}

@media screen and (max-width:768px){
    #Projetos h1{
        margin-top: 0;
    }
}




